/*Bars*/

rect{
	fill: #8d9aab;
}

/*End Bars*/
.line {
	stroke: steelblue;
	stroke-width: 1.5px;
	fill: none;
}

.axis path,
.axis line,
.axis {
  fill: none;
  stroke: #6e6e6e;
  shape-rendering: crispEdges;
}
/*Lines*/

/*End Lines*/

/*Donut*/

/*End Donut*/