/*Bars*/

rect{
	fill:#34495e;
}

.barAxis{
	stroke:  #2c3e50 ;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

/*End Bars*/
.line {
	stroke: steelblue;
	stroke-width: 1.5px;
	fill: none;
}

.axis path,
.axis line,
.axis {
  fill: none;
  stroke: #6e6e6e;
  shape-rendering: crispEdges;
}
/*Lines*/

/*End Lines*/

/*Donut*/

/*End Donut*/